<div class="alert alert-block alert-info" style="margin-top: 5px">
    <h1 align=center><a name=p2>Data Manipulation using Python MYSQL</a></h1>
</div>

In [1]:
# First import required libraries
import pandas as pd # use this to import the whole package
from sqlalchemy import create_engine # use this to create a part of a package
import pymysql # us this to import the entire package

In [2]:
# Create an engine and connect to a database,
engine = create_engine('mysql+pymysql://xxxxx:xxxxx!@localhost/data1202')

In [3]:
# create a connection string
con_1 = engine.connect()

In [4]:
# Create a query to compare average global sales before and after 2005 into a dataframe df using the connection string created
df = pd.read_sql('''SELECT 
    CASE
        WHEN year < 2005 THEN 'pre-2005'
        ELSE 'post-2005'
    END AS year_category, AVG(global_sales) AS avg_global_sales
FROM
    data1202.vgsales
GROUP BY year_category
ORDER BY avg_global_sales DESC''', con_1)

In [5]:
#Print the result and determine which was higher
df.head()

  year_category  avg_global_sales
0      pre-2005          0.649884
1     post-2005          0.489391

In [6]:
# Write a query that creates a new column which labels records before 2005 as 'pre-2005' and after 2005 as 'post-2005'
# into a dataframe df1
df1 = pd.read_sql('''SELECT 
    Name,
    Platform,
    Global_Sales,
    CASE
        WHEN Year < 2005 THEN 'pre-2005'
        ELSE 'post-2005'
    END AS year_category
FROM
    vgsales''', con_1)

In [7]:
#print the first 10 result
df1.head(10)

                        Name Platform  Global_Sales year_category
0                 Wii Sports      Wii         82.74     post-2005
1          Super Mario Bros.      NES         40.24      pre-2005
2             Mario Kart Wii      Wii         35.82     post-2005
3          Wii Sports Resort      Wii         33.00     post-2005
4   Pokemon Red/Pokemon Blue       GB         31.37      pre-2005
5                     Tetris       GB         30.26      pre-2005
6      New Super Mario Bros.       DS         30.01     post-2005
7                   Wii Play      Wii         29.02     post-2005
8  New Super Mario Bros. Wii      Wii         28.62     post-2005
9                  Duck Hunt      NES         28.31      pre-2005

<div class="alert alert-block alert-info" style="margin-top: 20px">
    <h1 align=center><a name=p2>Assignment 3 using Python (Pandas)</a></h1>
</div>

In [ ]:
#Import required libraries
import pandas as pd # use this to import the whole package

In [19]:
# Create dataframe
vgsales = pd.read_csv('vgsales.csv')

#Check to be sure it's loaded correctly
vgsales.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [20]:
# Query to get average Global_sales where yeare is before 2005
average_before_2005 = vgsales[vgsales['Year'] < 2005]['Global_Sales'].mean()
print(average_before_2005)

0.6498839907192575

In [21]:
# Query to get average Global_sales where yeare is after 2005
average_after_2005 = vgsales[vgsales['Year'] > 2005]['Global_Sales'].mean()
print(average_after_2005)

0.489447816722146

In [37]:
#Query to compare the global sales averages before and after 2005
if average_before_2005 > average_after_2005:
    
    print("The average of global sales was higher before 2005.")
    
else:
    
    print("The average of global sales was higher after 2005.")

The average of global sales was higher before 2005.

<div class="alert alert-block alert-info" style="margin-top: 20px">
    <h1 align=center><a name=p2>Question 2</a></h1>
</div>

In [33]:
#Create new column that labels records before 2005 as 'pre-2005 and after as 'post-2005'
vgsales.loc[vgsales['Year'] < 2005, 'Year_category'] = 'pre-2005'
vgsales.loc[vgsales['Year'] > 2005, 'Year_category'] = 'post-2005'

vgsales.head(17)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Year_category
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74,post-2005
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,pre-2005
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82,post-2005
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00,post-2005
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,pre-2005
5,6,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26,pre-2005
6,7,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.38,9.23,6.50,2.90,30.01,post-2005
7,8,Wii Play,Wii,2006.0,Misc,Nintendo,14.03,9.20,2.93,2.85,29.02,post-2005
8,9,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.59,7.06,4.70,2.26,28.62,post-2005
9,10,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31,pre-2005
10,11,Nintendogs,DS,2005.0,Simulation,Nintendo,9.07,11.00,1.93,2.75,24.76,NaN
11,12,Mario Kart DS,DS,2005.0,Racing,Nintendo,9.81,7.57,4.13,1.92,23.42,NaN
12,13,Pokemon Gold/Pokemon Silver,GB,1999.0,Role-Playing,Nintendo,9.00,6.18,7.20,0.71,23.10,pre-2005
13,14,Wii Fit,Wii,2007.0,Sports,Nintendo,8.94,8.03,3.60,2.15,22.72,post-2005
14,15,Wii Fit Plus,Wii,2009.0,Sports,Nintendo,9.09,8.59,2.53,1.79,22.00,post-2005
15,16,Kinect Adventures!,X360,2010.0,Misc,Microsoft Game Studios,14.97,4.94,0.24,1.67,21.82,post-2005
16,17,Grand Theft Auto V,PS3,2013.0,Action,Take-Two Interactive,7.01,9.27,0.97,4.14,21.40,post-2005